:root {
    --background-color-main : #fef8f3 ;
    --bacground-color-secondary : rgb(209, 234, 199);
    --font-color-main : #453f3a;
    --bird-color : #918c6d;
    --font-stack-main :  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

* {
    /* border : solid 1px black; */
}

body {
    background-color: var(--background-color-main);
    color : var(--font-color-main);
    font-family : var(--font-stack-main);
    margin: 0;
    
}

a {
    text-decoration: none;
    color : var(--font-color-main);
}
.navbar ::selection, .banner ::selection {
    background: lightblue;


}
.navbar {
    /* background-color: red; */
    margin: 0;

    top: 0;
    width: 100vw;
    height: 70px;
    background-color: --background-color-main;
    display: flex;
    justify-content: space-between;
    min-width: 700px;


}

.website-name {

    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 20px;
}

.website-name img {
    width: 50px;
    position: relative;
    top: 45px;
    left: 30px;

    filter: invert(19%) sepia(1%) saturate(5402%) hue-rotate(342deg) brightness(105%) contrast(85%);

}

.website-name img:hover {
    filter: invert(60%) sepia(8%) saturate(1056%) hue-rotate(14deg) brightness(91%) contrast(88%); 

}

nav {
    max-width: 50%;
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3ch;
    font-size: calc(1rem + 0.6vw);
    margin-right: 20px;
    position: relative;
    top: 20px

}

nav>a {
    transition: top 200ms ease;
    padding: 1ch;
    position: relative;
    top: 0;
}

nav>a:hover {
    top: 10px;
    border-radius: 5px;
    transition : top 200ms ease;

    background-color: var(--font-color-main);
    color : var(--background-color-main)
}


.banner {

    height: calc(100vh - 70px);
    width: 100%;
    margin: 0;
    padding: 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-main); 
    
}

.banner:after {
    content: " ";

    position: absolute;
    top: calc(100vh);

    border-top: 35px solid #fef8f3;
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
    border-bottom: none;

}

h1 {
    margin-top: 0px;
}

.title img {
    width: 600px;
    margin-top: 20px;
    filter: invert(19%) sepia(1%) saturate(5402%) hue-rotate(342deg) brightness(105%) contrast(85%);
}



.supertitle {
    font-size: 1.5rem;
    
}

.subtitle {
    height: 100px;
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 30px;
}


.predstavitev {
    /* background-color: var(--bacground-color-secondary); */
    min-height: 100vh   ;
    padding-top: 50px;
    padding-bottom: 10vh;
    background: no-repeat url("/images/slonček-white.svg") bottom 60px left 40px / clamp(20%, 500px, 60%), var(--bacground-color-secondary);
}

.who {
    width: clamp(none, 70%, 100%);
    margin: auto auto;
    
}

.predstavitev > h2 {
    font-size: 2.7rem;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 0.3rem;

}
 
.who > p{
    margin: 0 auto;
    width: 60ch;
    font-size: 1.4rem;
    text-align: justify;
}

.who > img {
    width: calc(60ch);
    margin: 20px auto;
    display: block;
    border-radius: 3%;

}